<!DOCTYPE html>
<html>
    <head>
        <title>Student Courses</title>
        <link rel="stylesheet" href="css/theme.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    </head>
    <body>
        {{> header user}}

        <div class="container">
                <br/>
                <h1>Student Courses</h1>
                <br>

                {{!-- {{#if user.isManager}} --}}
                <nav class="navbar navbar-light bg-light">
                    <div class="container-fluid">
                        {{!-- <form class="d-flex" method="post" action="/student_courses/search">
                            <input class="form-control me-2 col-md-6" type="text" placeholder="Enter Department Number" aria-label="Search" name="S_studentId">
                            <button class="btn btn-info" type="submit">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                </svg>
                            </button>
                        </form> --}}
                        <a href="/regcourse"><button type="button" class="btn btn-success">Register Courses</button></a>
                    </div>
                </nav>
                <br>
                <div class="row">
                    {{!-- <main class="col-md-12"> --}}
                            {{!-- <form method = "post" action = "/courses/pay">             --}}
                            <form >            
                                <div class = "table-responsive">
                                    <table class = "table">
                                        <tr>
                                            <th>Student Number</th>
                                            <th>Course Number</th>
                                            <th>Teacher Number</th>
                                            <th>Enroll Date</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                            <th>Mark</th>
                                            <th>created At</th>
                                            <th>updated At</th>
                                            <th>Options</th>
                                        </tr>
                                        {{#each student_courses}}
                                            <tr>
                                                <td>{{studentId}}</td>
                                                <td>{{courseId}}</td>
                                                <td>{{teacherId}}</td>
                                                <td>{{enrollDate}}</td>
                                                <td>{{startDate}}</td>
                                                <td>{{endDate}}</td>
                                                <td>{{mark}}</td>
                                                <td>{{createdAt}}</td>
                                                <td>{{updatedAt}}</td>
                                                <td class="buttonlink">
                                                    {{!-- <a href = "/courses?courseId={{courseId}}" >
                                                        <button class = "btn btn-info">Course Detail</button>
                                                    </a> --}}
                                                    {{!-- <a href = "/courses?courseId={{courseId}} & stidentId ={{studentId}}" > --}}
                                                    {{!-- <a href="/payments?courseId={{courseId}} & studentId ={{studentId}}"><button type="button" class="btn btn-success">Register Courses</button></a> --}}
            {{!-- <a href="/studentspay?courseId={{courseId}}&studentId={{studentId}}"><button type="button" class="btn btn-info">Pay</button></a> --}}
                                                    <a href="/studentspay/{{courseId}}/{{studentId}}"><button type="button" class="btn btn-info">Pay</button></a>


                                                      <a href="/student_courses/{{studentId}}">
                                                        <button class = "btn btn-warning">Update</button>
                                                    </a>
                                                    <a href="/student_courses/delete/{{studentId}}">
                                                        <button class = "btn btn-danger">Remove</button>
                                                    </a>
                                                </td>
                                            </tr>
                                        {{/each}}
                                    </table>
                                </div>  
                                {{#unless student_courses}}
                                    <div class="text-center">
                                        <strong>{{message}}</strong>
                                    </div>
                                {{/unless}}
                                {{!-- <div>
                                    <input type="submit" class="btn btn-primary float-right" value="Process Payments" /><br /><br /><br />
                                    {{!-- <a href="/courses/pay"><button type="button" class="btn btn-success">Payment Process</button></a>                                     --}}
                                </div> --}}
                            </form>
                    {{!-- </main>     --}}
                </div>
        </div>
            
        {{> footer}}
    </body>

</html>